/* Variables */
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.box-container {
  padding: 2em; }

@media screen and (min-width: 1024px) {
  .box-container {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.main-text {
  text-align: center;
  margin-bottom: 5em;
  margin-top: 3em; }
  .main-text__title {
    font-size: 1.5em;
    font-weight: 200;
    line-height: 35px;
    color: #4c4e61; }
  .main-text__span {
    display: block;
    font-weight: 600; }
  .main-text__paragraph {
    line-height: 25px;
    color: #a3a5ae; }

@media screen and (min-width: 1024px) {
  .main-text {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 3em; } }

@media screen and (min-width: 1440px) {
  .main-text__title {
    font-size: 2.5em; }
  .main-text__paragraph {
    font-size: 1.2em;
    line-height: 30px;
    padding: 0 1em; } }

.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 25%);
  grid-row-gap: 2em; }

.grid__item {
  background-color: white;
  border: none;
  border-radius: 10px;
  border-top: 5px solid #45d3d3;
  box-shadow: 0 15px 2em -1em #a3a5ae; }
  .grid__item:nth-child(2) {
    border-top-color: #ea5353; }
  .grid__item:nth-child(3) {
    border-top-color: #fcaf4a; }
  .grid__item:nth-child(4) {
    border-top-color: #549ef2; }

@media screen and (min-width: 1024px) {
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1.5em; }
  .grid__item:nth-child(1) {
    grid-row: 2/4; }
  .grid__item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3; }
  .grid__item:nth-child(3) {
    grid-row: 3/5;
    grid-column: 2/3; }
  .grid__item:nth-child(4) {
    grid-row: 2/4;
    grid-column: 3/4; } }

@media screen and (min-width: 1440px) {
  .grid {
    max-width: 80%; }
    .grid__container {
      grid-row-gap: 2em; } }

.card {
  padding: 1em;
  padding-top: .5em; }
  .card__text {
    margin-left: .5em;
    margin-top: 1.1em;
    margin-bottom: 1.5em; }
  .card__title {
    color: #4c4e61;
    font-weight: 600;
    margin: .5em 0; }
  .card__paragraph {
    color: #a3a5ae;
    font-weight: 200;
    line-height: 25px;
    font-size: 14px;
    margin: 0 0; }
  .card__img {
    text-align: right;
    margin-top: 2.5em;
    position: relative;
    bottom: 10px;
    right: 15px; }

@media screen and (min-width: 1440px) {
  .card__paragraph {
    font-size: 16px; } }

/* Base */
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
