.main-text{
    text-align: center;

    &__title{
        font-size: 1.5em;
        font-weight: 200;
        line-height: 35px;
    }
    &__span{
        display: block;
        font-weight: 600;
    }

    &__paragraph{
        line-height: 25px;
    }
}